#navigation-container {
  width: 6%; /* Default width */
  height: 100%; /* Make sure it spans full height */
  transition: width 0.3s ease-in-out;
  overflow: hidden; /* Hide content during hover transition */
}

#navigation-container:hover {
  width: 15%; /* Expand width on hover */
}

.nav-item-name {
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out; /* Smooth opacity change */
}

#navigation-container:hover .nav-item-name {
  display: block;
  opacity: 1;
}

.search-input {
  display: none;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

#navigation-container:hover .search-input {
  display: block;
  opacity: 1;
}

#navigation-container:hover .search-icon {
  display: none;
  transition: opacity 0.2s ease-in-out;
}
